# **Data Science Tools and Ecosystem**

## **Introduction**

In this notebook, Data Science Tools and Ecosystem are summarized

**Some of the popular languages that Data Scientists use are:**
1. SQL
2. R
3. Python

**Some of the commonly used libraries used by Data Scientists include:**
1. NumPy
2. Pandas
3. Scikit Learn

# **Table of Data Science tools**

| Data Science Tools |
|---------------------|
|Jupyter Lab|
|RStudio|
|Apache Spark|

### **Below are a few examples of evaluating arithmetic expressions in Python**

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes / 60
Hours

3.3333333333333335

# **Objectives**

- List popular languages used for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate development environment tools used in the Data Science ecosystem
- Perform basic arithmetic operations using Python
- Convert time units (minutes to hours) using Python code

## **Author**
-------
**Yashyes Jaisankar**